# 忽略 .NET 8 WebAPI 项目中的非必要文件
/filecloud-webapi/bin/
/filecloud-webapi/obj/
/filecloud-webapi/.vs/
/filecloud-webapi/*.user
/filecloud-webapi/*.suo
/filecloud-webapi/*.userosscache
/filecloud-webapi/*.sln.docstates

# 忽略 Vue 3 项目中的非必要文件
/filecloud-web/node_modules/
/filecloud-web/.env
/filecloud-web/.env.local
/filecloud-web/.env.development.local
/filecloud-web/.env.test.local
/filecloud-web/.env.production.local
/filecloud-web/.cache
/filecloud-web/.nuxt
/filecloud-web/.output

# 保留 filecloud-web 下的 dist 目录
!/filecloud-web/dist
